/* ------- FLEX ------------*/
/* Se aplico poder realizar una linea adicional y centralo */
.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    padding-left: 15px;
    padding-top: 25px;
    margin-bottom: 2px;
    flex-basis: 100%;
}

/* ------- FLEX ------------*/
/*Se aplico flex para poder tener cajas flexible en el articulo*/
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
}

.places .description {
    margin: 0px;
}

/* ------- FLEX ------------*/
/*Se aplico flex para poder centrar el precio dentro del circulo*/
.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 15px;
    padding: 10px;
}

/* ------- FLEX ------------*/
/*Se aplico flex para tener caja flexible en las imagenes*/
.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    /*Al agregar mas se movio se añade relleno*/
    padding-top: 5px;
    padding-bottom: 5px;
}

.max_guest, .number_rooms, .number_bathrooms{
    width: 100px;
}

.max_guest p, .number_rooms p, .number_bathrooms p{
    margin: 0 0 0 10px;
}
.image_max_guest {
    margin: 0 0 0 14px;
    height: 50px;
    width: 50px;
    background: url(../images/icon_group.png) no-repeat center;
}
.image_number_rooms {
    margin: 0 0 0 20px;
    height: 50px;
    width: 50px;
    background: url(../images/icon_bed.png) no-repeat center;
}

.image_number_bathrooms {
    margin: 0 0 0 20px;
    height: 50px;
    width: 50px;
    background: url(../images/icon_bath.png) no-repeat center;
}

.user p{
    margin: 20px 0 0 0;
}

.description p {
    margin: 10px 0 0 0;
}

/*TASK 9*/

article .amenities, article .reviews {
    margin-top: 40px;
}

.places .amenities h2, .places .reviews h2 {
    text-align: left;
    padding-bottom: 10px;
    font-size: 15px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 10px;
}

article .amenities ul, .reviews ul {
    list-style-type: none;
}

article .amenities ul {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 0px;
}

/* ------- FLEX ------------*/
/*Se aplico flex poder alinea  imagenes con texto*/
article .amenities ul li {
    display: flex;
    gap: 10px;
    line-height: 30px;
}

ul .image-tv,
ul .image-wifi,
ul .image_pets{
    height: 20px;
    width: 30px;
    margin-left: -40px;
	background-size: 25px 25px;
}

.image-tv {
    background: url(../images/icon_tv.png) no-repeat center;
}

.image-wifi {
    background: url(../images/icon_wifi.png) no-repeat center;
}

.image_pets {
    background: url(../images/icon_pets.png) no-repeat center;
}

.reviews h3 {
    font-size: 14px;
    margin-bottom: 0px;
}

.reviews p {
    font-size: 12px;
    margin-top: 0px;
}

.reviews ul {
    padding-left: 0px
}
.reviews ul li {
    text-align: left;
}
