header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    background: url("../images/logo.png") no-repeat center;
    width: 142px;
    height: 60px;
    padding-left: 20px;
}
